<%= render partial: 'layouts/errors', locals: {object: @workout}  %> 

<%= form_for (@workout) do |f| %> 
    <strong><%= f.label :name %>:</strong>
    <%= f.text_field :name %> 

    <strong><%= f.label :workout_type %>:</strong>
    <%= f.text_field :workout_type %> 

    <strong><%= f.label :time %>:</strong>
    <%= f.number_field :time, min:0 %> 

    <strong><%= f.label :level %>:</strong>
    <%= f.select(:level, ["Beginner", "Intermediate", "Advanced"]) %> 

    <br>
    <br>

    <strong><%= f.label :trainer_id, "Select a trainer" %>:</strong> 
    <%= f.collection_select :trainer_id, Trainer.all, :id, :name, prompt: true %> 
<br>
<br>

<% if !params[:trainer_id] %>
<h4> Add Trainer </h4>

<%= f.fields_for :trainer do |t| %>
    <%= t.label :name %>
    <%= t.text_field :name %> 

    <%= t.label :skills %>
    <%= t.text_field :skills %> 

    <% end %>
    <% end %>

<br>
<br>
    <%= f.submit %> 
    <% end %> 