<h1>Add New Workout</h1>

<%= form_for (@workout) do |f| %> 
    <strong><%= f.label :name %>:</strong>
    <%= f.text_field :name %> 

    <strong><%= f.label :workout_type %>:</strong>
    <%= f.text_field :workout_type %> 

    <strong><%= f.label :time %>:</strong>
    <%= f.number_field :time, min:0 %> 

    <strong><%= f.label :level %>:</strong>
    <%= f.select(:level, ["Beginner", "Intermediate", "Advanced"]) %> 
<br>
<br>
    <%= f.submit "Add New" %> 
    <% end %> 

